.view-message-container {
  section {
    width: 1110px;
    margin: 4dvh auto 0;
  }
  .action {
    display: flex;
    width: fit-content;
    margin: 20px auto;
    gap: 20px;
  }

  .loading {
    opacity: 0.5;
  }
}
