.material-booking-container {
  input {
    margin-bottom: 0;
    width: unset;
  }

  table {
    width: fit-content;
    margin: auto;

    button {
      margin: 0;
    }
  }

  thead {
    margin-bottom: 10px;
  }

  tbody {
    td:not(:last-child) {
      margin-right: 10px;
    }

    tr:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  th:first-child {
    text-align: left;
    width: 300px;
  }

  th:not(:first-child) {
    width: 80px;
  }

  th:last-child {
    width: fit-content;
  }

  td:first-child {
    input {
      width: 300px;
    }
  }

  td:not(:first-child) {
    input {
      width: 80px;
      text-align: center;
    }
  }

  button {
    display: block;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 790px) {
  .material-booking-container {
    td:first-child {
      input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .material-booking-container {
    td:not(:first-child) {
      text-align: center;
      input {
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .material-booking-container {
    overflow-x: scroll;

    table {
      min-width: 385px;
    }
  }
}
