.view-calendar-container {
  margin: auto;

  .rdrDateRangePickerWrapper {
    border-radius: 10px !important;
  }

  .rdrDefinedRangesWrapper,
  .rdrDateDisplayWrapper {
    display: none;
  }

  .rdrDayDisabled {
    text-decoration: line-through;
  }

  .rdrMonths {
    pointer-events: none;
  }

  .rdrDayPassive {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .view-calendar-container {
    .rdrCalendarWrapper {
      width: 400px;
    }

    .rdrMonth {
      width: 100%;

      button {
        height: 50px !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .view-calendar-container {
    .rdrCalendarWrapper {
      width: 100%;
    }
  }
}
