.back-button {
  width: fit-content;
  height: fit-content;
  gap: 10px;
  background-color: unset;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px;

  img {
    width: 30px;
    height: 20px;
  }
}
