.home-container {
  .home-content {
    margin: 40px auto 0;
    width: 1100px;
    height: auto;

    h2 {
      text-align: center;
      margin: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-container {
    .home-content {
      width: 90%;
    }
  }
}
