.delete-provided-material-button {
  display: flex !important;
  width: 30px !important;
  padding: 0 !important;
  text-align: unset;

  img {
    margin: auto;
    width: 15px;
    height: 15px;
  }
}
