.view-material-container {
  section {
    margin: 40px auto 40px;
    width: 1100px;
  }

  .action-bar,
  .carousel {
    margin-bottom: 60px;
  }

  .information-div {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    gap: 40px;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 10px;

    h2 {
      margin-bottom: 20px;
    }
  }

  .view-calendar {
    display: block;
    margin: 20px auto 0;
  }

  .material-information,
  .provided-material {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 1200px) {
  .view-material-container {
    section {
      width: 90%;
    }
  }
}
