.form-container {
  background-color: #fff;
  width: 1200px;
  height: auto;
  margin: auto;

  .part-div {
    margin-bottom: 20px;
  }

  h2,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 20px;
    text-decoration: underline;
  }

  form {
    margin: 20px auto;
    width: 1200px;
    height: auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .form-div {
    p {
      text-align: center;
    }
  }

  .left-part {
    width: 350px;
  }

  .right-part {
    width: fit-content;
  }

  .top {
    margin-bottom: 25px;
  }

  .top,
  .down {
    border: 1px solid grey;
    padding: 20px;
    height: auto;
    border-radius: 10px;
  }
}
